{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
Информация поста
{% endblock title %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
      {% if post.group %}   
      <li class="list-group-item">
        Группа: {{ post.group }}
        <br>
        <a href="{% url 'posts:group_list' post.group.slug %}"
        style="text-decoration: none;">
          все записи категории
        </a>
      </li>
      {% endif %}
      <li class="list-group-item">
        Автор: {{ post.author }}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора:  <span> {{ posts_count }} </span>
      </li>
      <li class="list-group-item">
        <a href="{% url "posts:profile" post.author %}"
        style="text-decoration: none;">
          все посты пользователя
        </a>
      </li>
      {% if user == post.author %}
      <li class="list-group-item">
        <a href="{% url 'posts:post_edit' post_id=post.pk %}" 
        style="text-decoration: none;">
        редактировать запись
        </a>
      </li>
      {% endif %}
      <li>
    </ul>
  </aside>
  <article class="col-12 col-md-8" style="border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px #000;
  margin-top: 25px;
  margin-left: 3%;">
    {% thumbnail post.image "960x280" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post.text|linebreaksbr }}</p>
    <br>
    {% include "includes/comments.html" %}
  </article>
</div> 
{% endblock %}