{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
{% load user_filters %}
<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card" style="border-radius: 20px;
      overflow: hidden;
      box-shadow: 5px 5px 10px #000;
      margin-top: 25px;">
        <div class="card-header">
          Восстановление пароля завершено
        </div>
        <div class="card-body">
          <p>Ваш пароль был сохранен. Используйте его для входа</p>
          <a href="{% url "users:login" %}">войти</a>
        </div> 
      </div> 
    </div>
  </div> 
</div>
{% endblock %}