{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
{% load user_filters %}
<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card" style="border-radius: 20px;
      overflow: hidden;
      box-shadow: 5px 5px 10px #000;
      margin-top: 25px;">
        <div class="card-header">
          Отправлено письмо
        </div>
        <div class="card-body">
          <p>Проверьте свою почту, вам должно прийти
            письмо со ссылкой для восстановления пароля</p>
        </div> 
      </div> 
    </div>
  </div>
</div>
{% endblock %}